body{
  background-color: black;
}
p {
  font-size: 25px;
}
button{
  min-width:70px;
  min-height: 40px;
  font-size: 20px;
  background-color: rgb(149, 201, 251);
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 10px;
  margin-right: 1vw;
}
h3{
  color: rgb(149, 201, 251);
  font-size: 25px;
}
#allButtons{
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  margin-top: -5vh;
}
.everything{
  display: flex;
}
.speedemeter {
  position: relative;
  margin-left:10vw;
  margin-top: 20vh;
  width: 400px;
  height: 400px; /* as the half of the width */
  /* background-color: rgb(13, 11, 3); */
  border-radius: 205px; /* 100px of height + 10px of border */
  border: 5px solid rgb(149, 201, 251);
  -webkit-box-shadow:0px 0px 45px 0px rgba(149, 201, 251, 0.55);
  -moz-box-shadow: 0px 0px 45px 0px rgba(149, 201, 251, 0.55);
  box-shadow: 0px 0px 45px 0px rgba( 149, 201, 251, 0.55);
  z-index: 10;
}

.obrotomierz{
  position: relative;
  margin-left:10vw;
  margin-top: 20vh;
  width: 400px;
  height: 400px; /* as the half of the width */
  /* background-color: rgb(13, 11, 3); */
  border-radius: 205px; /* 100px of height + 10px of border */
  border: 5px solid rgb(149, 201, 251);
  -webkit-box-shadow:0px 0px 45px 0px rgba(149, 201, 251, 0.55);
  -moz-box-shadow: 0px 0px 45px 0px rgba(149, 201, 251, 0.55);
  box-shadow: 0px 0px 45px 0px rgba( 149, 201, 251, 0.55);
}
.fuel {
  position: relative;
  margin-left:2vw;
  margin-top: calc(20vh + 100px);
  width: 300px;
  height: 300px; /* as the half of the width */
  /* background-color: rgb(13, 11, 3); */
  border-radius: 155px; /* 100px of height + 10px of border */
  border: 5px solid rgb(149, 201, 251);
  -webkit-box-shadow:0px 0px 45px 0px rgba(149, 201, 251, 0.55);
  -moz-box-shadow: 0px 0px 45px 0px rgba(149, 201, 251, 0.55);
  box-shadow: 0px 0px 45px 0px rgba( 149, 201, 251, 0.55);
}

.numbers {
  position: absolute;
  left:22px;
  top: 25px;
  width: 85%;
  height: 85%;
  border-radius: 170px; 
  z-index: 5;
  color: azure;
}

.numberso {
  position: absolute;
  left:32px;
  top: 25px;
  width: 85%;
  height: 85%;
  border-radius: 170px; 
  z-index: 5;
  color: azure;
}
.number {
  position: absolute;
  height: 340px;
  width: 10px;
  left: 160px;
}

.number p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

.hidebig {
  position: absolute;
  left:15px;
  top: 15px;
  width: 370px;
  height: 370px;
  background-color: black;
  border-radius: 180px;  
  z-index: 3;
}
.hidesmall {
  position: absolute;
  left:10px;
  top: 10px;
  width: 380px;
  height: 380px; 
  background-color: black;
  border-radius: 180px;  
  z-index: 1;
}
.hidebottom {
  position: absolute;
  left:-30px;
  top: 68%;
  background-color: black;
  height: 200px;
  width: 470px;
  z-index: 3;
}

#hidebottomFuel {
  position: absolute;
  left:-50px;
  top: 50%;
  background-color: black;
  height: 200px;
  width: 470px;
  z-index: 3;
}

#hideleftFuel {
  position: absolute;
  left:-50px;
  top: -50px;
  background-color: black;
  height: 250px;
  width: 200px;
  z-index: 3;
}

#hideCircleFuel {
  position: absolute;
  left:15px;
  top: 15px;
  width: 280px;
  height: 280px;
  background-color: black;
  border-radius: 155px;  
  z-index: 3;
}

#hand {
  position: absolute;
  top:49%;
  left:calc(50% - 50px);
  height:36px;
  width: 40%;
  transform-origin: 50px 18px;
  transform: rotate(162deg);
  background: url("/hand4.png");
  z-index: 6;
  animation: mymove 0.5s infinite;
}
#hand2 {
  position: absolute;
  top:49%;
  left:calc(50% - 50px);
  height:36px;
  width: 40%;
  transform-origin: 50px 18px;
  transform: rotate(162deg);
  background: url("/hand4.png");
  z-index: 6;
  animation: mymove 0.5s infinite;
}

#handFuel {
  position: absolute;
  top:45%;
  left:calc(50% - 25px);
  height:18px;
  width: 40%;
  transform-origin: 25px 9px;
  transform: rotate(0deg);
  background: url("/handfuel.png");
  z-index: 6;
  animation: mymove 0.5s infinite;
}
#changeSpeed{
  position: relative;
  margin-left: 10vw;
  margin-bottom: 5vh;
  z-index: 11;
}
#changeDirection{
  position: relative;
  margin-left: 10vw;
  margin-bottom: 5vh;
  z-index: 11;
}
#changeFuel{
  position: relative;
  margin-left: 10vw;
  z-index: 7;
}
#switchIcons {
  position: relative;
  margin-left: 19vw;
  z-index: 7;
}


#brake{
  width: 100px;
}

.big.pointer  {
  position: absolute;
  width: 5px;
  height: 402px;
  left: 49.25%;
  top: -3px;
  background-color:rgb(149, 201, 251);
  z-index: 2;
}
.small.pointer {
  position: absolute;
  width: 3px;
  height: 402px;
  left: 49.35%;
  top: -3px;
  background-color:rgb(149, 201, 251);
  z-index: 0;
}
.fuelpointer {
  position: absolute;
  width: 3px;
  height: 307px;
  left: 49.35%;
  top: -3px;
  background-color:white;
  z-index: 0;
}

.fuelpointer1 {
    transform: rotate(0deg);
    width: 6px;
    background-color:rgb(149, 201, 251);
}

.fuelpointer2 {
    transform: rotate(10deg);
}

.fuelpointer3 {
    transform: rotate(20deg);
}

.fuelpointer4 {
  transform: rotate(30deg);
}

.fuelpointer5 {
  transform: rotate(40deg);
}

.fuelpointer6 {
  transform: rotate(50deg);
}

.fuelpointer7 {
  transform: rotate(60deg);
}

.fuelpointer8 {
  transform: rotate(70deg);
}

.fuelpointer9 {
  transform: rotate(80deg);
}

.fuelpointer10 {
  transform: rotate(90deg);
  height: 304px;
  width: 10px;
  background-color:red;
}

#textF {
  position: absolute;
  top: -3px;
  left:45%;
  color: white;
  z-index: 10;
}

#textE{
  position: absolute;
  top:52%;
  left:99%;
  color: white;
  z-index: 10;
}
.pointer1{
  transform: rotate(-90deg);
}

.pointer2{
  transform: rotate(-72deg);
}

.pointer3{
  transform: rotate(-54deg);
}

.pointer4{
  transform: rotate(-36deg);
}

.pointer5{
  transform: rotate(-18deg);
}

.pointer6{
  transform: rotate(0deg);
}

.pointer7{
  transform: rotate(18deg);
}

.pointer8{
  transform: rotate(36deg);
}

.pointer9{
  transform: rotate(54deg);
}

.pointer10{
  transform: rotate(72deg);
}
.pointer11{
  transform: rotate(90deg);
}

.num0{
  transform: rotate(-108deg);
}

.num20{
  transform: rotate(-90deg);
}

.num40{
  transform: rotate(-72deg);
}

.num60{
  transform: rotate(-54deg);
}

.num80{
  transform: rotate(-36deg);
}

.num100{
  transform: rotate(-18deg);
} 

.num120{
  transform: rotate(0deg);
}

.num140{
  transform: rotate(18deg);
}

.num160{
  transform: rotate(36deg);
}

.num180{
  transform: rotate(54deg);
}

.num200{
  transform: rotate(72deg);
}

.num220{
  transform: rotate(90deg);
}

.num240{
  transform: rotate(108deg);
}

.num0 p{
  transform: rotate(108deg);
}

.num20 p{
  transform: rotate(90deg);
}

.num40 p{
  transform: rotate(72deg);
}
.num60 p{
  transform: rotate(54deg);
}

.num80 p{
  transform: rotate(36deg);
}

.num100 p{
  transform: rotate(18deg);
}

.num120 p{
  transform: rotate(0deg);
}

.num140 p{
  transform: rotate(-18deg);
}

.num160 p{
  transform: rotate(-36deg);
}

.num180 p{
  transform: rotate(-54deg);
}

.num200 p{
  transform: rotate(-72deg);
}

.num220 p{
  transform: rotate(-90deg);
}

.num240 p{
  transform: rotate(-108deg);
}

.small.pointer1{
  transform: rotate(-81deg);
}

.small.pointer2{
  transform: rotate(-63deg);
}

.small.pointer3{
  transform: rotate(-45deg);
}

.small.pointer4{
  transform: rotate(-27deg);
}

.small.pointer5{
  transform: rotate(-9deg);
}

.small.pointer6{
  transform: rotate(9deg);
}

.small.pointer7{
  transform: rotate(27deg);
}

.small.pointer8{
  transform: rotate(45deg);
}

.small.pointer9{
  transform: rotate(63deg);
}

.small.pointer10{
  transform: rotate(81deg);
}

#iconsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top:5vh;
  left:27vw;
}
#upperIcons {
  display: flex;
  gap: 95px;
}
#middleIcons {
  display: flex;
  margin-left: 75px;
  gap: 100px;
}
#leftTurn {
  position: relative;
  opacity: 0.3;
  width: 64px;
  height: 64px;
  background-image: url(left-turn-light.png);
}

#rightTurn {
  position: relative;
  opacity: 0.3;
  width: 64px;
  height: 64px;
  background-image: url(right-turn-light.png);
}
#lights {
  position: relative;
  opacity: 0.3;
  width: 64px;
  height: 64px;
  background-image: url(lights2.png);
}

#oil {
  position: relative;
  opacity: 0.3;
  width: 64px;
  height: 64px;
  background-image: url(oil.png);
}

#box {
  position: relative;
  opacity: 0.3;
  width: 64px;
  height: 64px;
  background-image: url(box.png);
}

#pasy {
  left:42%;
  position: relative;
  opacity: 0.3;
  width: 64px;
  height: 64px;
  background-image: url(pasy.png);
}

#iconFuel{
  position: relative;
  top: 50px;
  left:100px;
  opacity: 1;
  width: 40px;
  height: 40px;
  background-image: url(/fuel.png);
  z-index: 10;
}